body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.start_screen a {
  text-decoration: none;
  color: white;
}

.start_screen .header {
  height: 0px;
  color: white;
}

.package {
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 50%;
  height: 1.8em;
  padding-top: 0.8em;
  border: 1px solid white;
}
